.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #262d3a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  position: static;
  height: 50px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0px 50px;
}
nav .container {
  height: 50px;
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav .container .heading {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container .heading a {
  text-decoration-line: none;
}
nav .container .heading a h2 {
  color: white;
}
nav .container .links {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
nav .container .links a {
  text-decoration: none;
  color: white;
}
nav .container .links .user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
}
nav .container .links .user p {
  margin: 0px 5px;
  font-weight: bold;
}
nav .container .links .user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .container .links .user:hover {
  background: #374257;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #3b414c;
  height: 250px;
  width: 380px;
  gap: 20px;
  border-radius: 10px;
  margin: 10vh auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.login-container hr {
  height: 1px;
  width: 80%;
}
.login-container h2 {
  color: whitesmoke;
}
.login-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid grey;
  cursor: pointer;
  gap: 20px;
  transition: 0.2s all;
  color: white;
  background: #262d3a;
  font-size: 16px;
  transition: 0.2s all;
}
.login-container button:hover {
  background: #444a55;
}
.login-container button img {
  -o-object-fit: cover;
     object-fit: cover;
}

.home-container {
  overflow-y: hidden;
  margin: 0 auto;
  height: 90vh;
  width: 90vw;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
}
.home-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.home-container h1 {
  font-size: 80px;
}
.home-container h3 {
  font-size: 35px;
}
.home-container button {
  margin-top: 10px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: white;
  color: #262d3a;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  transition: 0.2s all;
  border: 2px solid white;
}
.home-container button:hover {
  background: transparent;
  color: whitesmoke;
}

.facts-container {
  margin: auto;
  height: 99vh;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.request {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.factos-container {
  height: 90%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
.factos-container .adder {
  border: 1px solid grey;
  height: 11%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  gap: 20px;
  border-radius: 10px;
}
.factos-container .adder img {
  border-radius: 50%;
}
.factos-container .adder textarea {
  resize: none;
  height: 40px;
  width: 300px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 14px;
  overflow: hidden;
  font-size: 18px;
  background: #4c535f;
  color: #e6e0e0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s all;
}
.factos-container .adder button {
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background: #0866ff;
  transition: 0.2s all;
  cursor: pointer;
}
.factos-container .adder button:hover {
  background: #3884ff;
}
.factos-container .items {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.factos-container .items .item {
  height: 200px;
  width: 300px;
  background: #424955;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.factos-container .items .item .info {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0px;
}
.factos-container .items .item .info .userDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.factos-container .items .item .info .userDetail img {
  border-radius: 50%;
}
.factos-container .items .item .info .userDetail p {
  font-size: 16px;
  color: #f3f3f3;
}
.factos-container .items .item .info p {
  font-size: 14px;
  color: #f3f3f3;
}
.factos-container .items .item .info p:hover {
  text-decoration: underline;
}
.factos-container .items .item .content {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  padding: 5px;
  background: #3b414c;
  border-radius: 10px;
}
.factos-container .items .item .content p {
  width: 100%;
  height: 100%;
  color: #f3f3f3;
  word-wrap: break-word;
}

::-moz-placeholder {
  color: #c6c3c3;
  font-size: 18px;
}

::placeholder {
  color: #c6c3c3;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: #4c535f;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b414c;
}

.dashboard-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #3b414c;
  border-radius: 10px;
  height: 310px;
  width: 400px;
}
.dashboard-container .go-back {
  width: 100%;
}
.dashboard-container .go-back a {
  text-decoration: none;
  color: whitesmoke;
}
.dashboard-container .go-back a h3 {
  margin: 10px;
}
.dashboard-container h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid white;
}
.dashboard-container h2 {
  margin-top: 10px;
  color: white;
  font-size: 18px;
}
.dashboard-container img {
  margin-top: 5px;
  border-radius: 10px;
}
.dashboard-container button {
  height: 35px;
  width: 200px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: #262d3a;
  color: white;
  transition: 0.2s all;
}
.dashboard-container button:hover {
  border: none;
  background: rgb(233, 63, 63);
}

@media (max-width: 768px) {
  .home-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-container h1 {
    font-size: 35px;
  }
  .home-container h3 {
    font-size: 22px;
    font-weight: 500;
  }
  nav {
    padding: 0px 20px;
  }
  .facts-container .request {
    font-size: 22px;
    width: 90%;
    text-align: center;
  }
  .login-container {
    width: 90%;
  }
  .login-container button {
    width: 80%;
    gap: 5px;
  }
  .dashboard-container {
    width: 95%;
  }
  .factos-container .items {
    align-content: flex-start;
  }
  .factos-container .items .item {
    margin: 5px 0px;
  }
  .factos-container .items .item .info {
    gap: 0px;
  }
  .factos-container .adder {
    padding: 5px;
    width: 100%;
  }
  .factos-container .adder button {
    height: 50px;
    margin-top: -10px;
  }
  .factos-container .adder textarea {
    width: 270px;
  }
}
#jharo {
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */
