.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@mixin center($jcvalue){
    display: flex;
    justify-content: $jcvalue;
    align-items: center;
}
$primary-color:rgb(93, 93, 191);
$hover-color:rgb(79, 79, 174);
nav{
    height: 60px;
    max-width: 100vw;
    @include center(center);
    background: $primary-color;
    padding: 0px 50px;
    .container{
        height: 50px;
        width: 1920px;
        @include center(space-between);
        height: 60px;
        .heading{
            height: 90%;
            @include center(center);
            a{
                text-decoration-line :none;
                h2{
                    color: white;
                }
            }
        }   
        .links{
            height: 90%;
            @include center(center);
            color: white;
            a{
                text-decoration: none;
                color: white;
            }
            .user{
                @include center(center);
                height: 85%;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.2s all;
                p{
                    margin: 0px 5px;
                    font-weight: bold;
                }
                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                &:hover{
                    background: $hover-color;
                }
            }
        }
    }
}

.login-container{
    @include center(center);
    flex-direction: column;
    height: 250px;
    width: 380px;
    gap: 20px;
    border-radius: 10px;
    margin:10vh auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    
    hr{
        height: 1px;
        width: 80%;
    }
    h2{
        color: $primary-color;
    }
    button{
        @include center(center);
        width: 70%;
        height: 35px;
        border-radius: 5px;
        border: none;
        outline: none;
        border: 1px solid grey;
        cursor: pointer;
        gap: 20px;
        transition: 0.2s all;
        color: grey;
        background: white;
        font-size: 16px;
        transition: 0.2s all;
        &:hover{
            background: whitesmoke;
        }
    }
}